<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${isNew?'Create Book':'Update Book'}">Create Book</title>
</head>
<body>
<h1 th:text="${isNew?'Create Book':'Update Book'}">Create Book</h1>
<form th:action="${isNew?'/create/submit':'/update/submit'}" method="post" th:object="${book}"
      enctype="multipart/form-data">
    ID: <input type="number" th:field="*{id}"> <span style="color: red;" th:if="${#fields.hasErrors()}"
                                                     th:errors="*{id}">Error</span> <br>
    Title: <input type="text" th:field="*{title}"><span style="color: red;" th:if="${#fields.hasErrors()}"
                                                        th:text="${#fields.errors('title')}">Error</span> <br>
    Author: <input type="text" th:field="*{author}"><span style="color: red;" th:if="${#fields.hasErrors()}"
                                                          th:text="${#fields.errors('author')}">Error</span><br>
    Publisher: <input type="text" th:field="*{publisher}"><br>

    Category:
    <select th:name="category.id" id="category_id">

        <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}">Category Name</option>
    </select>

    <input type="text" th:field="*{thumbnail}" hidden>

    <input type="file" name="file"> <br>

    <input type="submit" value="Submit">
</form>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/

    var cate_id = /*[[${book.category.id}]]*/ 0;
    console.log(cate_id);

    var cate_ids = /*[[${categories}]]*/ null;

    /*]]>*/



    $(document).ready(function () {
        $('#category_id').on('change', function () {
            alert($(this).val());
            console.log(cate_ids);
        });

        (function () {
            $.each(cate_ids, function (index, cate) {
                console.log(cate.id);

                if (cate.id == cate_id) {
                    $('#category_id option[value="' + cate_id + '"]').attr('selected', 'selected');
                    alert(1000)
                }
            });
        })();
    });

</script>
</body>
</html>