<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><u>List of All Books</u></h1>

    <table border="1" style="border-collapse: collapse;">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
        </tr>

        <tr th:each="book: ${books}">
            <td>[[${book.id}]]</td>
            <td th:text="${book.getTitle()}">Title</td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getPublisher()}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${book.getId()})}"><button>View</button></a>
                <a th:href="@{/update/{book_id}(book_id=${book.getId()})}"><button>Update</button></a>
                <a href="#"><button>Delete</button></a>
            </td>
        </tr>

    </table>

</body>
</html>