<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Book</title>
</head>
<body>

    <h1><u>Update</u></h1>

    <form action="/update/submit" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}"><br>
        Title: <input type="text" th:field="*{title}"><br>
        Author: <input type="text" th:field="*{author}"><br>
        Publisher: <input type="text" th:field="*{publisher}"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>