<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>



<!--Footer-->
<footer class="page-footer text-center text-md-left pt-4 custom-footer" th:fragment="fr-footer">


    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2018 Copyright: <a href="http://www.khmeracademy.org/"> KA.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->



</body>
</html>