<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="color: cornflowerblue;">Login Page</h1>


    <form action="/login/submit" method="post">

        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name="username_btb">
                </td>
            </tr>

            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" name="password_btb">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Login">
                </td>
            </tr>

        </table>

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />


    </form>

</body>
</html>